@model Category
<div class="card " style="row">

    <div class="card-body shadow">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="border-0 p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">Supprimer la categorie</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All" class="text-bg-secondary shadow-sm"></div>
                <div class="mb-3 row">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" readonly />
            
                </div>
                <div class="mb-3 row">
                    <label asp-for="DisplayOrder"></label>
                    <input asp-for="DisplayOrder" class="form-control" readonly/>
            
                </div>

                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="button" class="btn btn-danger form-control" data-bs-toggle="modal" data-bs-target="#deleteModal">Supprimer</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-light form-control">Annuler</a>
                    </div>
                    
                    
                    <div class="modal fade align-content-center shadow-lg" id="deleteModal" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header border-0 justify-content-sm-center">
                                    <h7 class="modal-title border-0">Confirmation de suppression de @Model.Name ?</h7>
                                </div>
                                    <div class="btn-group justify-content-lg-center" role="rowgroup">

                                        <button type="submit" class="btn btn-outline-danger form-control border-0 shadow-sm">Valider la suppression</button>
                                    
                                    <button type="button" class="btn btn-outline-secondary form-control border-0 shadow-sm" data-bs-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <hr />
                
            </div>


        </form>
    </div>
</div>
@section Scripts
{
    @* Add the necessary scripts here *@
    <partial name="_ValidationScriptsPartial" />
}
